.relative{position: relative;}
.absolute{position: absolute;}
.fleft{float: left;}
.fright{float: right;}
.block{display: block;}
.inblo{display: inline-block;}
.clearfix{overflow: hidden;}
.clear{clear: both;}
.lauto{overflow: auto;}
.slide{height: auto; overflow: visible;}
.hidden{display: none;}
.invisible{opacity: 0;}
.fullwidth{width: 100%;}
.fullheight{height: 100%;}
.ml5 {margin-left: 5px;}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    >.flex-item {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: block;
        width: 0%;
    }
    &.justify_around {
        justify-content: space-around;
    }
    &.justify_center {
      justify-content: center;
  }
    &.justify_between {
      justify-content: space-between;
    }
    &.align_start {
      align-items: flex-start;
    }
    &.align_center {
      align-items: center;
    }
    &.align_end {
      align-items: flex-end;
    }
    &.wrap {
      flex-wrap: wrap;
    }
    &.flex_column {
      flex-direction: column;
    }
}

.backgroundimg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.backgroundcon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.overtwo {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
}
.elli{overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}